<script setup lang="ts">
import { mdiCardsHeart, mdiPencil, mdiAccount } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>
          <v-list-item :prepend-icon="mdiAccount">Portfolio</v-list-item>
        </h1></v-col
      >
    </v-row>
    <v-row>
      <v-col
        ><v-avatar color="primary" size="330"
          ><v-img
            src="https://lh3.googleusercontent.com/a/AEdFTp4SOfk1saQAUC7JuC1S61rQvLFsmb3c4wmA3p8Z=s288-p-rw-no"
        /></v-avatar>
        <h2>
          <v-list-item :prepend-icon="mdiPencil"
            >ชื่อ : นายศรัณย์ภัทร จันฤาชา</v-list-item
          >
        </h2>
        <h2>
          <v-list-item :prepend-icon="mdiCardsHeart"
            >สิ่งที่สนใจ : BasketBall</v-list-item
          >
          <div align="center">
            <v-img
              src="https://cdn-icons-png.flaticon.com/512/889/889455.png"
              width="150"
              height="150"
            />
          </div>
        </h2>
      </v-col>
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <h2><th colspan="2">ประวัติการศึกษา</th></h2>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชั้นอนุบาลศึกษา-ชั้นประถมศึกษาปีที่ 6</td>
              <td>
                <center>
                  <v-img
                    src="https://www.webrongrean.in.th/uploads/anubanprachuapkhirikhan/profile/1dd54c8c4fb258c89e17325f15c32977.gif"
                    width="150"
                    height="150"
                  />
                </center>
                <p style="text-align: center">โรงเรียนอนุบาลพนัสศึกษาลัย</p>
              </td>
            </tr>
            <tr>
              <td>ชั้นมัธยมศึกษาปีที่ 1 - ชั้นมัธยมศึกษาปีที่ 6</td>
              <td>
                <center>
                  <v-img
                    src="https://upload.wikimedia.org/wikipedia/th/thumb/2/21/Chonradsadornumrung_School.png/800px-Chonradsadornumrung_School.png"
                    width="150"
                    height="150"
                  />
                </center>
                <p style="text-align: center">โรงเรียนชลราษฎรอำรุง</p>
              </td>
            </tr>
            <tr>
              <td>สถานศึกษาในปัจจุบัน</td>
              <td>
                <center>
                  <v-img
                    src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Buu-logo11.png"
                    width="150"
                    height="150"
                  />
                </center>
                <p style="text-align: center">โรงเรียนชลราษฎรอำรุง</p>
              </td>
            </tr>
          </tbody>
        </v-table></v-col
      >
    </v-row>
  </v-container>
</template>
